<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Requests</h2>
    {% for all_request in user_request %}
    <div>
        <ul>
            <li>{{all_request.request_by}}</li>
            <form action="{% url 'confirm_request' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{all_request.request_by.id}}">
                <button type="submit">Confirm</button>
            </form>
        </ul>
    </div>
    {% endfor %}
    <br>
    <a href="{% url 'index' %}" style="font-size: 20px;">Home page</a>
    <br>
</body>
</html>